<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.0.0-preview038" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.0.0-preview165" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.0.0-preview165" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.Gpio" version="1.0.0-preview164" targetFramework="netnanoframework10" />
</packages>