<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.0.0-preview054" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Hardware.Esp32" version="1.0.0-preview007" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.0.0-preview177" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.Gpio" version="1.0.0-preview187" targetFramework="netnanoframework10" />
</packages>